@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
    background-color: white;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 400px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}

.gradient-border {
    margin-left: 18rem;
    margin-top: 10rem;
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, white, gray, #ef4e7b);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
.object1 {
    overflow:auto;
}

.object1 img:hover {
    float: left;
    transform: scale(1.3);
}

.prot {
    float: left;
}

.object2 img:hover {
    transform: scale(1.3);
}